body{
    margin-left: 25%;
}

#roof{
    width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-bottom: 300px solid;
    color: #B3472D;
}

#chimney-body{
    width: 50px;
    height: 80px;
    margin-left: 50px;
    border: 1px solid gray;
    background-color: gray;
}

#chimney-top{
    width: 80px;
    height: 10px;
    margin-left: 36px;
    border:1px solid #AAAAAA;
    background-color: #AAAAAA;
}

#wall{
    width: 800px;
    height: 60vh;
    border: 1px solid #E37D55;
    background-color: #E37D55;
    display: flex;
    justify-content: space-around;
}

.window-left{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 40px;
}

.window-right{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap; 
    background-color: black;
    margin-top: 40px;
}

.container{
    width: 48px;
    height: 48px;
    background-color: white;
    border: 1px solid black;
}

.windows{
    display: flex;
}

.doorbody{
    height: 250px;
    width: 150px;
    background-color: rgb(222, 89, 58);
    border: 7px solid rgb(167, 41, 13);
    border-bottom-color: black;
    display: flex;
}

.doorknocker {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-self: center;
  }

.door{
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }